astor==0.8.1
astunparse==1.6.3
colorama==0.4.4
cupy-cuda116==10.5.0
cycler==0.11.0
dill==0.3.4
fastrlock==0.8
fonttools==4.33.3
kiwisolver==1.4.2
matplotlib==3.5.2
numpy==1.22.3
packaging==21.3
Pillow==9.1.1
pyparsing==3.0.9
python-dateutil==2.8.2
scipy==1.8.1
six==1.16.0
sourceinspect==0.0.4
taichi==1.0.0
taichi-tina==0.1.1
